.flex {
  display: flex;
}

.flex-direction-row {
  flex-direction: row;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-justify-content-end {
  justify-content: flex-end;
}

.flex-justify-content-center {
  justify-content: center;
}

.flex-justify-content-between {
  justify-content: space-between;
}

.flex-items-center {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-grow1 {
  flex-grow: 1;
}
