@import '../abstracts/variables.scss';

.full-width {
  width: 100%;
}

.padding-top-xsmall {
  padding-top: $spacing-small;
}

.padding-y-xsmall {
  padding-top: $spacing-xsmall;
  padding-bottom: $spacing-xsmall;
}

.padding-xsmall {
  padding: $spacing-xsmall;
}

.margin-bottom-small {
  margin-bottom: $spacing-small;
}

.margin-bottom {
  margin-bottom: $spacing;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.margin-right-small {
  margin-right: $spacing-small;
}

.no-margin {
  margin: 0;
}

.margin-y-small {
  margin-top: $spacing-small;
  margin-bottom: $spacing-small;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.flip {
  transform: rotate(180deg);
}

.border-dashed {
  border: 1px dashed;
}

.block {
  display: block;
}

.text-white {
  color: white;
}
