<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>${props.title}</title>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#113042">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="description" content="props.description">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@soundsliceapp">
    <meta name="twitter:image" content="${props.assetPath('img/logo.png')}">
    <meta name="twitter:image:alt" content="Sound Slice">
    <meta property="og:title" content="${props.title}">
    <meta property="og:site_name" content="Sound Slice">
    <meta property="og:url" content="${props.url}">
    <meta property="og:description" content="${props.description}">
    <meta property="og:type" content="website">
    <link rel="manifest" href="/manifest.webmanifest">
    <link rel="stylesheet" media="all" href="${props.assetPath('app.css')}">
    <link rel="icon" href="/favicon.ico">
    <script async src="${props.assetPath('app.js')}"></script>
  </head>
  <body>
    <header>
      <a href="/" title="Sound Slice">
        <img
          id="logo"
          src="${props.assetPath('img/logo.png')}"
          alt="Sound Slice"
        />
      </a>
      <button id="btn-install" style="display:none;">
        Install
      </button>
    </header>
    <div id="wrapper">
      <main>
        <noscript>
          <p class="Error">
            Sound Slice is an app for manipulating audio files in the browser, it <strong>requires JavaScript</strong>.
            <br />
            Please <strong>enable JavaScript</strong> in your browser to continue.
          </p>
        </noscript>
        ${props.main}
      </main>
    </div>
  </body>
</html>
