<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>${props.title}</title>
    <link rel="stylesheet" media="all" href="/public/stylesheets/main.css" />
    <link rel="icon" href="/favicon.ico" />
    <script async src="/public/js/main.js"></script>
  </head>
  <body>
    <header>
      <a href="/" title="Sound Slice">
        <img
          id="logo"
          src="/public/img/logo.png"
          alt="Sound Slice"
        />
      </a>
    </header>
    <div id="wrapper">
      <main>
        <noscript>
          <p class="Error">
            Sound Slice is an app for manipulating audio files in the browser, it <strong>requires JavaScript</strong>.
            <br />
            Please <strong>enable JavaScript</strong> in your browser to continue.
          </p>
        </noscript>
        ${props.main}
      </main>
    </div>
  </body>
</html>
