@import '../abstracts/variables.scss';

a.button {
  text-decoration: none;
}

a.button,
button {
  padding: $spacing-small;
  &.button--xsmall {
    padding: $spacing-xsmall;
  }

  &.button--withicon {
    display: flex;
    align-items: center;

    svg + span {
      margin-left: $spacing-xsmall;
      width: 100%;
    }
  }

  border: 1px solid transparent;
  border-radius: $border-radius;
  background-color: $color-blue-lighter;
  color: $color-green;
  cursor: pointer;

  &[disabled] {
    opacity: 0.65;
    cursor: not-allowed;
    pointer-events: none;
  }

  &:focus {
    outline: 0;
    border-color: $color-blue-light;
  }
}

.button-container {
  a.button,
  button {
    width: 100%;

    @media screen and (min-width: $screen-medium) {
      width: auto;
    }
  }

  a.button + a.button,
  button + button {
    margin-top: $spacing;
    margin-left: 0;

    @media screen and (min-width: $screen-medium) {
      margin-top: 0;
      margin-left: $spacing;
    }
  }
}

.button-container + .button-container {
  margin-left: $spacing;

  @media screen and (min-width: $screen-medium) {
    margin-left: 0;
  }
}
