@import '../abstracts/variables.scss';
@import './_inputrange.scss';

fieldset {
  margin-bottom: $spacing;
  padding: 0;
  border: 1px solid transparent;

  em {
    font-size: 0.9em;
  }
}

legend {
  display: flex;
  width: 100%;

  // Dirty fix for browsers which discard `display: flex` on `<legend>`
  > * {
    display: block;
  }

  margin-bottom: $spacing-small;
  text-align: center;
  font-size: $font-size-medium;
  color: $color-sand;
}

input[type=text],
input[type=url] {
  border-radius: $border-radius;
  border: 1px solid transparent;
  height: $form-widget-height-small;
  padding: $spacing-xsmall;
}


input[type=range],
input[type=url] {
  width: 100%;
}
