@import '../abstracts/variables.scss';

fieldset {
  margin: 0;
  padding: 0;
  border: 1px solid transparent;
}

legend {
  display: block;
  width: 100%;
  margin-bottom: $spacing-small;
  text-align: center;
  font-size: $font-size-medium;
  color: $color-sand;
}

input[type='range'] {
  width: 100%;
}
