@import '../abstracts/variables.scss';
@import './_inputrange.scss';

fieldset {
  margin-bottom: $spacing;
  padding: 0;
  border: 1px solid transparent;

  em {
    font-size: 0.9em;
  }
}

legend {
  display: flex;
  flex-direction: column;
  width: 100%;

  margin-bottom: $spacing-small;
  text-align: center;
  font-size: $font-size-medium;
  color: $color-sand;
}

input[type=text],
input[type=url] {
  height: $form-widget-height-small;
  padding: $spacing-xsmall;
  border-radius: $border-radius;
  border: 1px solid transparent;
  background-color: $color-cement;

  &:focus {
    background-color: white;
    border-color: $color-blue-light;
  }

  &:disabled {
    background-color: $color-sand;
  }
}


input[type=range],
input[type=url] {
  width: 100%;
}
