@import '../abstracts/variables.scss';

$logo-height: 110px;
$header-heigth: $logo-height + $spacing-small * 2;

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: $header-heigth;
  padding: $spacing-small;
  background-color: $color-blue-darker;
  box-shadow: 0 -5px $spacing 0 rgba(0,0,0,.2);

  & a,
  & img {
    height: 100%;
  }

  margin: 0;
  & > a {
    display: inline-block;
    background-color: transparent;

    &:hover {
      background-color: $color-green;
    }

    &:focus {
      outline: 1px dashed $color-green;
      text-decoration: none;
    }
  }
}
