@import '../abstracts/variables.scss';

header {
  padding-top: $spacing-large;
  margin-bottom: $spacing-large;
}

header h1 {
  text-align: center;
}

header h1 #logo {
  width: 110px;
  height: 110px;

  @media screen and (min-width: $screen-large) {
    width: 220px;
    height: 220px;
  }
}
