@import '../abstracts/variables.scss';

fieldset.FileField {
  text-align: center;

  label {
    display: inline-block;
    width: 100%;
    padding: $spacing;
    border: 4px dashed $color-blue-light;
    border-radius: 3px;
    background-color: $color-blue-lighter;
    color: $color-green;

    em {
      display: block;
    }
  }

  input[type='file'] {
    opacity: 0;
    width: 0;
    height: 0;
    font-size: 0;
    overflow: hidden;
  }
}
