@import '../abstracts/variables.scss';

fieldset.FileField {
  label {
    display: flex;
    align-items: center;
    padding: $spacing;
    border: 4px dashed $color-blue-light;
    border-radius: 3px;
    background-color: $color-blue-lighter;
    color: $color-green;
    cursor: pointer;

    > span {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  }

  input[type='file'] {
    opacity: 0;
    width: 0;
    height: 0;
    font-size: 0;
    overflow: hidden;

    &:focus + label {
      border-style: solid;
    }
  }
}
