@import '../abstracts/variables.scss';

.Loader {
  text-align: center;
  svg {
    animation: rotation 2s infinite linear;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
