@import '../abstracts/variables.scss';

.Loader {
  margin-top: $spacing-small;
  text-align: center;
  > svg {
    animation: rotation 2s infinite linear;
  }

  > p {
    margin-bottom: $spacing-xsmall;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
