@import '../abstracts/variables.scss';

#Slice {
  .player-container {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
    background-color: $color-blue-darker;
    border-top: 1px solid $color-blue-lighter;

    button {
      background-color: transparent;
      border-radius: 0;
      flex-grow: 1;
    }

    #WaveForm {
      z-index: 3;
    }
  }

  .player-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $spacing-xsmall;
    padding-top: $spacing-small;

    strong {
      color: $color-sand;
    }
  }
}
