@import '../abstracts/variables.scss';

#WaveForm {
  position: relative;
  margin: 0 0 $spacing 0;
  background-color: $color-blue-darker;

  > canvas {
    position: absolute;
    top: $spacing;
    left: 0;
    background-color: transparent;
  }

  > #waveform-canvas {
    left: $spacing;
  }

  &.cursor-grabbing {
    cursor: grabbing;
  }

  &.will-reset {
    cursor: not-allowed;
  }
}
